spring:
  application:
    name: user-service
  config:
    import: optional:configserver:http://localhost:8888

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://admin:admin123@localhost:8761/eureka/